/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
}

.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Full Page Image Header Area */

.header {
    position: relative; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 25px;
}

.img-portfolio {
    margin: 0 auto;
}


/* Call to Action */

.call-to-action {
    color: #ffffff;
    background: #0a5175;
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Footer */

footer {
    padding: 100px 0;
}

.top-scroll {
    margin-top: 50px;
}

.top-scroll a {
    text-decoration: none;
    color: inherit;
}

i.scroll {
    color: #333333;
}

i.scroll:hover {
    color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {

}
