

body { 
    /*gradient background*/
    background: #3496ba;
    background: -moz-radial-gradient(center, ellipse cover, #3496ba 0%, #141a49 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3496ba), color-stop(100%,#141a49));
    background: -webkit-radial-gradient(center, ellipse cover, #3496ba 0%,#141a49 100%);
    background: -o-radial-gradient(center, ellipse cover, #3496ba 0%,#141a49 100%);
    background: -ms-radial-gradient(center, ellipse cover, #3496ba 0%,#141a49 100%);
    background: radial-gradient(ellipse at center, #3496ba 0%,#141a49 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3496ba', endColorstr='#141a49',GradientType=1 );
    color:white;
}

#logo{
    width: 80%;
    height:80%;
}


iframe{
  width:700px;
  height:400px;
}
.visible-xs >iframe{
    width: 480px;
    height: 350px;
}




#history{
    background-image: url("../img/scroll.png");
    background-size: cover;
    color: #330000;
    font-family:Times New Roman;
    font-weight: bold;
    font-style: italic;
    padding: 10em 0;
}
#sinopsis>h1{
    font-family:Times New Roman;
    text-shadow: 1px 1px  black;
    font-weight: bold;
    font-style: italic;
    font-size: 4em;
}
#sinopsis>p{
    padding-top: 10px;
    font-size: 1.5em;
}

#historyp{
    background-image: url("../img/scroll2.png");
    color: #330000;
    font-family:Times New Roman;
    font-weight: bold;
    font-style: italic;
    padding: 10em 0;
}


.visible-xs>#sinopsis>h1{
    font-family:Times New Roman;
    text-shadow: 1px 1px  black;
    font-weight: bold;
    font-style: italic;
    font-size: 4em;
}
.visible-xs>#sinopsis>p{
    padding-top: 10px;
    font-size: 1.2em;
}






.portfolio-item > a > img{
    margin-left: 10em;
    width: 20em;
    height: 15em;
}

#trailer{
    margin: 5em 0;
}
video{
    width: 25em;
    height:20em; 
}

#video1{
    margin-left: 15em;
}
#video2{
    margin-left: 20em;
}
#button1{
    margin-left: 6em;
}
#button2{
    margin-left: 8em;
}

#email{
    color: #6affad;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 1em;
}
